@page
@model RawCoding.Shop.UI.Pages.Checkout.Closed

@{
    ViewData["Title"] = "Payment Error";
    Layout = "Shared/_Layout";
}

<div class="hero">
    <div class="hero-head text-white is-size-2 has-text-centered">Failed to complete the order.</div>
    <div class="hero-body text-white is-size-4 has-text-centered">
        Please reach out for support on the <a class="is-link" href="https://discord.gg/Qp6hdq3">discord server</a>
    </div>
</div>