@page
@model RawCoding.Shop.UI.Pages.Checkout.Success

@{
    ViewData["Title"] = "Payment Success";
    Layout = "_Layout";
}

<div class="hero">
    <div class="hero-head text-white is-size-2 has-text-centered">Payment Successfull</div>
    <div class="hero-body text-white is-size-4">
        Your order reference number is <a class="is-link" href="/orders/@Model.OrderId">@Model.OrderId</a> <br/>
        You will recieve a confirmation email. Return to <a class="is-link" asp-page="/Index">Shop</a>
    </div>
</div>