@page
@model RawCoding.Shop.UI.Pages.Closed

@{
    ViewData["Title"] = "Close";
    Layout = "Shared/_Layout";
}

<div class="hero">
    <div class="hero-head text-white is-size-2 has-text-centered">Closed</div>
    <div class="hero-body text-white is-size-4 has-text-centered">Shop is temporarly closed</div>
</div>